body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('images/background.jpeg') no-repeat center center fixed;
    background-color: cover;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}
.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header p {
    margin: 5px 0;
}

header a {
    color: #333;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    background-color: #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #333;
    color: #fff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

section h2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0 -20px 10px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

h3 {
    margin: 10px 0;
}

.skills, .affiliated-groups, .experience ul {
    list-style-type: none;
    padding: 0;
}

.skills li, .affiliated-groups li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-bar {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
    flex-grow: 1;
    height: 10px;
    margin-top: 2px;
}

.skill-level {
    height: 100%;
    background-color: #4caf50;
}

.experience {
    margin-bottom: 20px;
}

.experience ul {
    list-style-type: none;
    padding: 0;
}

.experience li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #333;
}

.education {
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
        margin: 10px auto;
    }

    header h1 {
        font-size: 20px;
    }

    section h2 {
        font-size: 16px;
    }
}
